.App {
    display: flex;
}

.content {
    margin-left: 15%; /* Adjust margin to account for the sidebar */
    padding: 20px;
    width: 85%; /* Remaining width after sidebar */
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .content {
        margin-left: 0;
        width: 100%;
    }
}


/* -------------------------- */
