* {
    margin: 0%;
    padding: 0%;
}
#navbarr{
    background-color: rgb(0, 0, 0);
    height: 60px;
    /* width: auto; */
    /* padding-top: 40px; */
    /* justify-content: center; */
    text-align: center;
    margin-top: -8px;
}

#databasename {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    padding-right: 200px;
    margin-left: 3%;
    font-weight: 800px;
    font-size: 30px;
}

#databasename:hover {
    color: rgb(0, 0, 255);
}

#navbarScroll li a {

    color: rgb(242, 24, 24);
    padding: 12px;
    /* border-color: rgb(247, 143, 7); */
    /* border: 1px; */

}
#navbarScroll li a:hover {
    color: rgb(255, 255, 255);
}

#btn {
    border-color: aliceblue;
    color: aliceblue;
}

#btn:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

/* #searchh {
    background-color: ;
} */

